body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #262626;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ff6600;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f2f2f2;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn{
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color:  black;
  padding: 10px 15px;
  border: transparent;
}

.openbtn:hover {
  background-color: transparent;
}

body, html {
  height: 100%;
}



body, html {
  height: 100%;
}

.bg-image {
  /* The image used */
  background-image: url("https://images.wallpaperscraft.com/image/paper_crumpled_background_69778_3840x2160.jpg");

  

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.w3-allerta {
  font-family: "Allerta Stencil", Sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
